* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  padding-top: 100px;
  height: 100vh;
  background: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.5) 50%,
      rgba(0, 0, 0, 0.5) 50%
    ),
    url(../assets/applicationBG.jpg) no-repeat center center fixed;
  background-position: center;
  background-size: cover;
  overflow-x: hidden;
}
